<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('horoscope') }}">Horoscope</a></li>               
                    <li><a href="{{ url_for('numerology') }}">Numerology</a></li>
                    <li><a href="{{ url_for('tarot') }}">Tarot</a></li>
                    <li><a href="{{ url_for('compatibility') }}">Compatibility</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                    
                </ul>
            </nav>
        </header>
        <script>
            setTimeout(function() {
                const flashMessages = document.querySelectorAll('.flashes, .flash');
                flashMessages.forEach(function(message) {
                    message.style.display = 'none';
                });
            }, 5000); // 5 seconds
        </script>
        <main style="padding-bottom: 60px;">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </main>
        <footer>
            <a href="/" class="logo" style="background-image: url('/static/images/logo/logo.png');" aria-label="Home"></a>
            <p class="copyright">© 2024 AstroWeb. All rights reserved.</p>
        </footer>
                
</body>
</html>


